*.o
*.a
*.lo
autom4te.cache
config.log
config.status
configure.lineno
Makefile
Makefile.in
.libs
.deps
stamp-h1
*.la
ac_config.h
build
temp
.vs
*.suo
*.user
*.userosscache
*.sln.docstates
*.tlog
*.log
*.obj
*.pdb
*.vcxproj.FileListAbsolute.txt
*.iobj
*.ipdb
*.lib
*.dll
*.exp
*.lib.recipe
*.exe
*.dll.recipe
*.exe.recipe
*.idb
